body{
  background-image:url(../img/vintage-concrete.png);
  overflow-x:hidden;
}

.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  font-family: Georgia, serif;
  text-decoration: none;
  color: initial;
}

header{
  width:100%;
  height:100px;
  margin: none;
  background: rgba(255,255,255,0.7);
  position:absolute;
  top:0;
  left:0;
}

#content{
  width:100%;
  display:flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  position:relative;
  top:100px;
}

#content-modify{
  width:100%;
  display:flex;
  flex-direction:column
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  position:relative;
  top:100px;
}

#menu{
  width:15%;
  border: 1px solid black;
  background: rgba(255,255,255,0.5);
  font-family: 'Pinyon Script', cursive;
}

#menu-title{
  font-size: 30px;
  text-align:center;
}

#menu-post{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width:20%;
}

a{
  font-size: 22px;
  text-align:left;
  text-decoration:none;
}

li{
  list-style-type: none;
}

h2{
   text-align:center;
}

#read-area{
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#chapters{
  width:100%;
  border:1px solid black;
  padding:10px 10px 10px 10px;
  background: rgba(255,255,255,0.5);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#chapter-title{
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 40px;
  text-align:center;
}

#chapter-content{
  font-family: 'Goudy Bookletter 1911', serif;
}

#comments{
  border:1px solid black;
  background: rgba(255,255,255,0.5);
  margin: 5px;
}

#comment_content{
  width:50%;
  height: 150px;
  margin: 5px;
}
#commentary{
  width:100%;
  height:460px;
  border: 1px solid black;
  background: rgba(255,255,255,0.5);
  display:none;
}

#mytextarea{
  width:90%;
  height:500px;
}

#read_comments{
  width:70%;
  border: 1px solid black;
  background: rgba(255,255,255,0.5);
  margin: 10px;
}

.fa-times{
  color:red;
}

.fa-cog{
  color:orange;
}

.fa-home, .fa-cogs{
  color:black;
}

footer{
  width:100%;
  height:200px;
  position:absolute;
  top:800px;
  left:0;
  background: rgba(255,255,255,0.7);
}
