body{
  background-image:url(../img/vintage-concrete.png);
  overflow-x:hidden;
}

.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  position:relative;
  left:calc(50% - 60px);
  font-family: Georgia, serif;
  text-decoration: none;
  color: initial;
  font-size: 14px;
  padding: 3px;
  margin: 5px;
}

header{
  width:100%;
  height:150px;
  margin: none;
  background: rgba(255,255,255,0.7);
  position:absolute;
  top:0;
  left:0;
  margin-bottom:50px;
}

#connexion_area{
  position:absolute;
  width:15%;
  left: 80%;
  bottom:10px;
  border: 1px solid black;
  padding: 10px;
}

#content{
  width:100%;
  display:flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 20px;
  position:relative;
  top:100px;
}

#content-modify{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  position:relative;
  top:100px;
  left:10%;
}

#menu,#menu_alt{
  width:15%;
  height:300px;
  border: 1px solid black;
  background: rgba(255,255,255,0.5);
  font-family: 'Pinyon Script', cursive;
}

#menu_alt{
 width:100%;
 position:relative;
 bottom:200px;
}

#menu-title{
  font-size: 30px;
  text-align:center;
}

.chapter_font{
  font-size: 18px;
}

#menu-post{

}

a{
  font-size: 22px;
  text-align:left;
  text-decoration:none;
}

li{
  list-style-type: none;
}

h2{
   text-align:center;
}

#read-area{
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#chapters{
  width:100%;
  border:1px solid black;
  padding:10px 10px 10px 10px;
  background: rgba(255,255,255,0.5);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#add_chapter{
  position:relative;
  width:180px;
  top:100px;
  left:calc(50% - 90px);
}

#chapter-title{
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 40px;
  text-align:center;
}

#chapter-content{
  font-family: 'Goudy Bookletter 1911', serif;
}

#comments{
  border:1px solid black;
  background: rgba(255,255,255,0.5);
  margin: 5px;
}

label,#author,#comment_content,#valid{
margin-left: 25px;
}

#comment_content{
  width:90%;
  height: 100px;
  margin-top: 10px;
}
#commentary{
  width:100%;
  height:460px;
  border: 1px solid black;
  background: rgba(255,255,255,0.5);
  display:none;
}

#mytextarea{
  width:90%;
  height:500px;
}

#read_comments{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border:1px solid black;
  background: rgba(255,255,255,0.5);
  width:70%;
  margin-top: 10px;
  margin-left:25px;
  margin-bottom:10px;
}

#comments_list{
  border:1px solid black;
  margin:5px;
}

.fa-times{
  color:red;
}

.fa-cog{
  color:orange;
}

.fa-home, .fa-cogs{
  color:black;
}

footer{
  width:100%;
  height:250px;
  position:absolute;
  margin-top:100px;
  left:0;
  background: rgba(255,255,255,0.7);
}
